
.container {
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.text-enter-active {
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: 'Permanent Marker', cursive !important;
    animation: reasonAnimation 4s infinite;
}


@keyframes reasonAnimation {
    0% {scale: 0; opacity: 0}
    85% {scale: 1; opacity: 1}
    100% {scale: 2; opacity: 0}
}
